.header {
  align-items: center;
  background-color: #FFF;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 0 12px;
}

.accountIcon {
  width: 10%;
  height: 10%;
}
